<div class="container-fluid">

  <!-- ToolBar -->
  <mat-toolbar class="custom-toolbar">
    <mat-toolbar-row class="custom-toolbar-row">
      <a class="heading" routerLink="/home-page">{{title}}</a>
      <div class="toolbar-list ml-auto">
        <a class="toolbar-item" routerLink="/women">WOMEN</a>
        <a class="toolbar-item" routerLink="/men">MEN</a>
        <a class="toolbar-item" routerLink="/kids">KIDS</a>
        <a class="toolbar-item" routerLink="/homewear">HOMEWEAR</a>
        <a class="toolbar-item">NEW ARRIVALS</a>
        <a class="toolbar-item">OFFERS</a>
        <a class="toolbar-item">BEST SELLING</a>
        <mdb-icon fas icon="shopping-cart" class="toolbar-icon"></mdb-icon>
        <mdb-icon fas icon="sign-in-alt" class="toolbar-icon"></mdb-icon>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <!-- ToolBar -->

  <a routerLink="/home-page"></a>
  <router-outlet></router-outlet>

  <!-- Subscription -->
  <div class="row mx-auto">

    <div class="subscribe-heading mx-auto">
      <h3>Subscribe!</h3>
      <p>Be the first to know about New Arrivals and Offers from Dione.</p>
    </div>

    <!--Grid column-->
    <div class="col-md-12 mb-4">

      <form class="input-group mx-auto">
        <input type="text" class="form-control form-control-lg" placeholder="Your email" aria-label="Your email"
          aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button mat-raised-button class="subscribe-btn mx-auto">SUBSCRIBE</button>
        </div>
      </form>

    </div>
    <!--Grid column-->

  </div>
  <!-- Subscription -->

  <!-- Footer -->
  <footer class="page-footer font-small blue darken-4">
    <!-- Footer Elements -->
    <div class="container-fluid">
      <div class="row text-center d-flex justify-content-center pt-5 mb-3">
        <div class="col-md-12 pt-2">
          <div class="mb-3 flex-center">
            <a class="details">ABOUT US</a>
            <a class="details">CONTACT US</a>
            <a class="details">DELIVERY</a>
            <a class="details">RETURN POLICY</a>
          </div>
        </div>
      </div>

      <hr class="rgba-white-light" style="margin: 0 15%;">

      <div class="row">
        <div class="col-md-12">
          <div class="mb-2 flex-center">
            <img src="../assets/Images/visa.png" class="credit-cards">
            <img src="../assets/Images/master card.png" class="credit-cards">
          </div>
        </div>
      </div>

      <!-- <hr> -->

    </div>
    <!-- Footer Elements -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">Copyright ©{{title}}. All rights reserved
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

</div>
