.row {
  width: 100%;
  // padding: 0;
}

.container-fluid {
  padding: 0;
}

.custom-toolbar {
  // width: 100%;
  background-color: white;
  box-shadow: 0 3px 5px -1px;
  // background-color: transparent;
}

.custom-toolbar-row {
  height: 80px;
}

.heading {
  font-size: 30px;
  padding-left: 50px;
  color: black;
}

.heading :visited {
  color: black;
}

mat-toolbar {
  position: fixed;
    top: 0;
    z-index: 2;
}

.toolbar-icon, .toolbar-item {
  margin: 15px;
}

.toolbar-item {
  font-size: 17px;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
}

.toolbar-item :visited {
  color: black;
}

.toolbar-list a .toolbar-item :hover {
  border-bottom-color: black;
  background-color: aqua;
}

.toolbar-icon {
  color: black;
}

.toolbar-icon :visited {
  color: black;
}

.details, .details-list {
  padding: 10px 40px 10px 40px;
  margin: 10px 30px 10px 30px;
}
.details {
  font-size: 17px;
  font-weight: 500;
}

.credit-cards {
  height: 20px;
}

.subscribe-btn {
  background-color: darkblue;
  color: white;
  width: 150px;
  font-size: 17px;
  box-shadow: 0 3px 5px -1px;
  padding: 7px;
}

.input-group {
  width: 40%;
}

.subscribe-heading {
  text-align: center;
}

h3 {
  font-weight: 400;
}

.card-link {
  font-weight: 400;
}

.body-content {
  width: 70%
}