<div class="container-fluid">

  <!-- ToolBar -->
  <mat-toolbar class="custom-toolbar">
    <mat-toolbar-row class="custom-toolbar-row">
      <span class="heading">{{title}}</span>
      <!-- <span class="example-spacer"></span> -->
      <div class="ml-auto">
        <a class="toolbar-item">WOMEN</a>
        <a class="toolbar-item">MEN</a>
        <a class="toolbar-item">KIDS</a>
        <a class="toolbar-item">HOMEWEAR</a>
        <mdb-icon fas icon="shopping-cart" class="toolbar-icon"></mdb-icon>
        <mdb-icon fas icon="sign-in-alt" class="toolbar-icon"></mdb-icon>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <!-- ToolBar -->

  <!-- Carousel -->
  <div class="container">
    <div class="mdb-carousel-custom mx-auto">
      <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
        <mdb-carousel-item>
          <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
        </mdb-carousel-item>
      </mdb-carousel>
    </div>
  </div>
  <!-- Carousel -->

  <!-- Cards -->
  <div class="container">

    <!-- New Arrivals -->
    <div class="row">
      <div class="sub-heading">New Arrivals</div>
    </div>
    <div class="row custom-cards mx-auto">

      <!-- Card 1 -->
      <div class="col-md-3">
        <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
          <!--Card image-->
          <div class="view zoom waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
              onclick="">
            </mdb-card-img>
          </div>
          <!--Card image-->
        </mdb-card>
        <div class="card-details">
          <a>shdcusdvb</a>
          <p>wdfh uic uay yuqd quayc</p>
        </div>
      </div>
      <!-- Card 1 -->

      <!-- Card 2 -->
      <div class="col-md-3">
        <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
          <!--Card image-->
          <div class="view zoom waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
              onclick="">
            </mdb-card-img>
          </div>
          <!--Card image-->
        </mdb-card>
        <div class="card-details">
          <a>shdcusdvb</a>
          <p>wdfh uic uay yuqd quayc</p>
        </div>
      </div>
      <!-- Card 2 -->

      <!-- Card 3 -->
      <div class="col-md-3">
        <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
          <!--Card image-->
          <div class="view zoom waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
              onclick="">
            </mdb-card-img>
          </div>
          <!--Card image-->
        </mdb-card>
        <div class="card-details">
          <a>shdcusdvb</a>
          <p>wdfh uic uay yuqd quayc</p>
        </div>
      </div>
      <!-- Card 3 -->

      <!-- Card 4 -->
      <div class="col-md-3">
        <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
          <!--Card image-->
          <div class="view zoom waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
              onclick="">
            </mdb-card-img>
          </div>
          <!--Card image-->
        </mdb-card>
        <div class="card-details">
          <a>shdcusdvb</a>
          <p>wdfh uic uay yuqd quayc</p>
        </div>
      </div>
      <!-- Card 4 -->

    </div>
    <!-- New Arrivals -->

    <hr>

    <!-- Offers -->
    <div class="row">
      <div class="sub-heading">Offers</div>
    </div>
    <div class="row custom-cards mx-auto">

      <!-- Card 1 -->
      <div class="col-md-3">
        <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
          <!--Card image-->
          <div class="view zoom waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
              onclick="">
            </mdb-card-img>
          </div>
          <!--Card image-->
        </mdb-card>
        <div class="card-details">
          <a>shdcusdvb</a>
          <p>wdfh uic uay yuqd quayc</p>
        </div>
      </div>
      <!-- Card 1 -->

      <!-- Card 2 -->
      <div class="col-md-3">
        <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
          <!--Card image-->
          <div class="view zoom waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
              onclick="">
            </mdb-card-img>
          </div>
          <!--Card image-->
        </mdb-card>
        <div class="card-details">
          <a>shdcusdvb</a>
          <p>wdfh uic uay yuqd quayc</p>
        </div>
      </div>
      <!-- Card 2 -->

      <!-- Card 3 -->
      <div class="col-md-3">
        <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
          <!--Card image-->
          <div class="view zoom waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
              onclick="">
            </mdb-card-img>
          </div>
          <!--Card image-->
        </mdb-card>
        <div class="card-details">
          <a>shdcusdvb</a>
          <p>wdfh uic uay yuqd quayc</p>
        </div>
      </div>
      <!-- Card 3 -->

      <!-- Card 4 -->
      <div class="col-md-3">
        <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
          <!--Card image-->
          <div class="view zoom waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
              onclick="">
            </mdb-card-img>
          </div>
          <!--Card image-->
        </mdb-card>
        <div class="card-details">
          <a>shdcusdvb</a>
          <p>wdfh uic uay yuqd quayc</p>
        </div>
      </div>
      <!-- Card 4 -->

    </div>
    <!-- Offers -->

    <hr>

    <!-- Best Selling -->
    <div class="row">
      <div class="sub-heading">Best Selling</div>
    </div>
    <div class="row custom-cards mx-auto">

      <!-- Card 1 -->
      <div class="col-md-3">
        <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
          <!--Card image-->
          <div class="view zoom waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
              onclick="">
            </mdb-card-img>
          </div>
          <!--Card image-->
        </mdb-card>
        <div class="card-details">
          <a>shdcusdvb</a>
          <p>wdfh uic uay yuqd quayc</p>
        </div>
      </div>
      <!-- Card 1 -->

      <!-- Card 2 -->
      <div class="col-md-3">
        <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
          <!--Card image-->
          <div class="view zoom waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
              onclick="">
            </mdb-card-img>
          </div>
          <!--Card image-->
        </mdb-card>
        <div class="card-details">
          <a>shdcusdvb</a>
          <p>wdfh uic uay yuqd quayc</p>
        </div>
      </div>
      <!-- Card 2 -->

      <!-- Card 3 -->
      <div class="col-md-3">
        <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
          <!--Card image-->
          <div class="view zoom waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
              onclick="">
            </mdb-card-img>
          </div>
          <!--Card image-->
        </mdb-card>
        <div class="card-details">
          <a>shdcusdvb</a>
          <p>wdfh uic uay yuqd quayc</p>
        </div>
      </div>
      <!-- Card 3 -->

      <!-- Card 4 -->
      <div class="col-md-3">
        <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
          <!--Card image-->
          <div class="view zoom waves-light" mdbWavesEffect>
            <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
              onclick="">
            </mdb-card-img>
          </div>
          <!--Card image-->
        </mdb-card>
        <div class="card-details">
          <a>shdcusdvb</a>
          <p>wdfh uic uay yuqd quayc</p>
        </div>
      </div>
      <!-- Card 4 -->

    </div>
    <!-- Best Selling -->

    <hr>
    <br>

    <!-- Subscription -->
    <div class="row mx-auto">

      <div class="subscribe-heading">
        <h3>Subscribe!</h3>
        <p>Be the first to know about New Arrivals and Offers from Dione.</p>
      </div>

        <!--Grid column-->
        <div class="col-md-12 mb-4">

          <form class="input-group mx-auto">
            <input type="text" class="form-control form-control-lg" placeholder="Your email" aria-label="Your email" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button mat-raised-button class="subscribe-btn mx-auto">SUBSCRIBE</button>
            </div>
          </form>

        </div>
        <!--Grid column-->

      <!-- <button mat-raised-button class="subscribe-btn mx-auto">SUBSCRIBE</button> -->
    </div>

    <br>

  </div>
  <!-- Cards -->

  <!-- Footer -->
  <footer class="page-footer font-small blue darken-4">
    <!-- Footer Elements -->
    <div class="container-fluid">
      <div class="row text-center d-flex justify-content-center pt-5 mb-3">
        <div class="col-md-12 pt-2">
          <div class="mb-3 flex-center">
            <a class="details">ABOUT US</a>
            <!-- <div> -->
            <a class="details">CONTACT US</a>
            <!-- <mat-list class="details-list"> -->
            <!-- <mat-list-item class="details-list-item">Facebook</mat-list-item> -->
            <!-- </mat-list> -->
            <!-- </div> -->
            <!-- <a class="details">FAQ</a> -->
            <a class="details">DELIVERY</a>
            <a class="details">RETURN POLICY</a>
          </div>
        </div>
      </div>

      <hr class="rgba-white-light" style="margin: 0 15%;">

      <div class="row">
        <div class="col-md-12">
          <div class="mb-2 flex-center">
            <img src="../assets/Images/visa.png" class="credit-cards">
            <img src="../assets/Images/master card.png" class="credit-cards">
          </div>
        </div>
      </div>

      <!-- <hr> -->

    </div>
    <!-- Footer Elements -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">Copyright ©{{title}}. All rights reserved
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

</div>