.body-content {
  margin-top: 150px;
  width: 80%;
  font-size: 20px;
}

.mat-tab-group {
  margin-bottom: 48px;
}

.custom-cards {
  margin-top: 60px;
  margin-bottom: 80px;
}

.sub-heading {
  font-size: 2em;
  font-weight: 500;
  margin: 50px 50px 30px 50px;
}

.card-details {
  padding-top: 20px;
}