<div class="container-fluid body-content">

  <!-- Tabs -->
  <mat-tab-group mat-align-tabs="center" animationDuration="0ms">

    <!-- Dresses -->
    <mat-tab>
      <ng-template mat-tab-label>Dresses</ng-template>

      <!-- <div class="cards container-fluid"> -->

      <div class="row custom-cards mx-auto">

        <!-- Card 1 -->
        <div class="col-md-2">
          <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
            <!--Card image-->
            <div class="view zoom waves-light" mdbWavesEffect>
              <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
                onclick="">
              </mdb-card-img>
            </div>
            <!--Card image-->
          </mdb-card>
          <div class="card-details">
            <a>shdcusdvb</a>
            <p>wdfh uic uay yuqd quayc</p>
          </div>
        </div>
        <!-- Card 1 -->

        <!-- Card 2 -->
        <div class="col-md-2">
          <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
            <!--Card image-->
            <div class="view zoom waves-light" mdbWavesEffect>
              <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
                onclick="">
              </mdb-card-img>
            </div>
            <!--Card image-->
          </mdb-card>
          <div class="card-details">
            <a>shdcusdvb</a>
            <p>wdfh uic uay yuqd quayc</p>
          </div>
        </div>
        <!-- Card 2 -->

        <!-- Card 3 -->
        <div class="col-md-2">
          <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
            <!--Card image-->
            <div class="view zoom waves-light" mdbWavesEffect>
              <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
                onclick="">
              </mdb-card-img>
            </div>
            <!--Card image-->
          </mdb-card>
          <div class="card-details">
            <a>shdcusdvb</a>
            <p>wdfh uic uay yuqd quayc</p>
          </div>
        </div>
        <!-- Card 3 -->

        <!-- Card 4 -->
        <div class="col-md-2">
          <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
            <!--Card image-->
            <div class="view zoom waves-light" mdbWavesEffect>
              <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
                onclick="">
              </mdb-card-img>
            </div>
            <!--Card image-->
          </mdb-card>
          <div class="card-details">
            <a>shdcusdvb</a>
            <p>wdfh uic uay yuqd quayc</p>
          </div>
        </div>
        <!-- Card 4 -->

        <!-- Card 5 -->
        <div class="col-md-2">
          <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
            <!--Card image-->
            <div class="view zoom waves-light" mdbWavesEffect>
              <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
                onclick="">
              </mdb-card-img>
            </div>
            <!--Card image-->
          </mdb-card>
          <div class="card-details">
            <a>shdcusdvb</a>
            <p>wdfh uic uay yuqd quayc</p>
          </div>
        </div>
        <!-- Card 5 -->

        <!-- Card 6 -->
        <div class="col-md-2">
          <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
            <!--Card image-->
            <div class="view zoom waves-light" mdbWavesEffect>
              <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
                onclick="">
              </mdb-card-img>
            </div>
            <!--Card image-->
          </mdb-card>
          <div class="card-details">
            <a>shdcusdvb</a>
            <p>wdfh uic uay yuqd quayc</p>
          </div>
        </div>
        <!-- Card 6 -->

      </div>

      <!-- </div> -->

      <hr>

    </mat-tab>
    <!-- Dresses -->


    <!-- Skirts -->
    <mat-tab>
      <ng-template mat-tab-label>Skirts</ng-template>

      <div class="row custom-cards mx-auto">

          <!-- Card 1 -->
          <div class="col-md-2">
            <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
              <!--Card image-->
              <div class="view zoom waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
                  onclick="">
                </mdb-card-img>
              </div>
              <!--Card image-->
            </mdb-card>
            <div class="card-details">
              <a>shdcusdvb</a>
              <p>wdfh uic uay yuqd quayc</p>
            </div>
          </div>
          <!-- Card 1 -->
  
          <!-- Card 2 -->
          <div class="col-md-2">
            <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
              <!--Card image-->
              <div class="view zoom waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
                  onclick="">
                </mdb-card-img>
              </div>
              <!--Card image-->
            </mdb-card>
            <div class="card-details">
              <a>shdcusdvb</a>
              <p>wdfh uic uay yuqd quayc</p>
            </div>
          </div>
          <!-- Card 2 -->
  
          <!-- Card 3 -->
          <div class="col-md-2">
            <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
              <!--Card image-->
              <div class="view zoom waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
                  onclick="">
                </mdb-card-img>
              </div>
              <!--Card image-->
            </mdb-card>
            <div class="card-details">
              <a>shdcusdvb</a>
              <p>wdfh uic uay yuqd quayc</p>
            </div>
          </div>
          <!-- Card 3 -->
  
          <!-- Card 4 -->
          <div class="col-md-2">
            <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
              <!--Card image-->
              <div class="view zoom waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
                  onclick="">
                </mdb-card-img>
              </div>
              <!--Card image-->
            </mdb-card>
            <div class="card-details">
              <a>shdcusdvb</a>
              <p>wdfh uic uay yuqd quayc</p>
            </div>
          </div>
          <!-- Card 4 -->
  
          <!-- Card 5 -->
          <div class="col-md-2">
            <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
              <!--Card image-->
              <div class="view zoom waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
                  onclick="">
                </mdb-card-img>
              </div>
              <!--Card image-->
            </mdb-card>
            <div class="card-details">
              <a>shdcusdvb</a>
              <p>wdfh uic uay yuqd quayc</p>
            </div>
          </div>
          <!-- Card 5 -->
  
          <!-- Card 6 -->
          <div class="col-md-2">
            <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
              <!--Card image-->
              <div class="view zoom waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
                  onclick="">
                </mdb-card-img>
              </div>
              <!--Card image-->
            </mdb-card>
            <div class="card-details">
              <a>shdcusdvb</a>
              <p>wdfh uic uay yuqd quayc</p>
            </div>
          </div>
          <!-- Card 6 -->
  
        </div>
  
        <!-- </div> -->
  
        <hr>
        
    </mat-tab>
    <!-- Skirts -->

    <!-- Blouse -->
    <mat-tab>
      <ng-template mat-tab-label>Blouse</ng-template>

      <div class="row custom-cards mx-auto">

          <!-- Card 1 -->
          <div class="col-md-2">
            <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
              <!--Card image-->
              <div class="view zoom waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
                  onclick="">
                </mdb-card-img>
              </div>
              <!--Card image-->
            </mdb-card>
            <div class="card-details">
              <a>shdcusdvb</a>
              <p>wdfh uic uay yuqd quayc</p>
            </div>
          </div>
          <!-- Card 1 -->
  
          <!-- Card 2 -->
          <div class="col-md-2">
            <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
              <!--Card image-->
              <div class="view zoom waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
                  onclick="">
                </mdb-card-img>
              </div>
              <!--Card image-->
            </mdb-card>
            <div class="card-details">
              <a>shdcusdvb</a>
              <p>wdfh uic uay yuqd quayc</p>
            </div>
          </div>
          <!-- Card 2 -->
  
          <!-- Card 3 -->
          <div class="col-md-2">
            <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
              <!--Card image-->
              <div class="view zoom waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
                  onclick="">
                </mdb-card-img>
              </div>
              <!--Card image-->
            </mdb-card>
            <div class="card-details">
              <a>shdcusdvb</a>
              <p>wdfh uic uay yuqd quayc</p>
            </div>
          </div>
          <!-- Card 3 -->
  
          <!-- Card 4 -->
          <div class="col-md-2">
            <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
              <!--Card image-->
              <div class="view zoom waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
                  onclick="">
                </mdb-card-img>
              </div>
              <!--Card image-->
            </mdb-card>
            <div class="card-details">
              <a>shdcusdvb</a>
              <p>wdfh uic uay yuqd quayc</p>
            </div>
          </div>
          <!-- Card 4 -->
  
          <!-- Card 5 -->
          <div class="col-md-2">
            <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
              <!--Card image-->
              <div class="view zoom waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
                  onclick="">
                </mdb-card-img>
              </div>
              <!--Card image-->
            </mdb-card>
            <div class="card-details">
              <a>shdcusdvb</a>
              <p>wdfh uic uay yuqd quayc</p>
            </div>
          </div>
          <!-- Card 5 -->
  
          <!-- Card 6 -->
          <div class="col-md-2">
            <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
              <!--Card image-->
              <div class="view zoom waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
                  onclick="">
                </mdb-card-img>
              </div>
              <!--Card image-->
            </mdb-card>
            <div class="card-details">
              <a>shdcusdvb</a>
              <p>wdfh uic uay yuqd quayc</p>
            </div>
          </div>
          <!-- Card 6 -->
  
        </div>
  
        <!-- </div> -->
  
        <hr>
        
    </mat-tab>
    <!-- Blouse -->

    <!-- Trousers -->
    <mat-tab>
      <ng-template mat-tab-label>Trousers</ng-template>

      <div class="row custom-cards mx-auto">

          <!-- Card 1 -->
          <div class="col-md-2">
            <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
              <!--Card image-->
              <div class="view zoom waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
                  onclick="">
                </mdb-card-img>
              </div>
              <!--Card image-->
            </mdb-card>
            <div class="card-details">
              <a>shdcusdvb</a>
              <p>wdfh uic uay yuqd quayc</p>
            </div>
          </div>
          <!-- Card 1 -->
  
          <!-- Card 2 -->
          <div class="col-md-2">
            <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
              <!--Card image-->
              <div class="view zoom waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
                  onclick="">
                </mdb-card-img>
              </div>
              <!--Card image-->
            </mdb-card>
            <div class="card-details">
              <a>shdcusdvb</a>
              <p>wdfh uic uay yuqd quayc</p>
            </div>
          </div>
          <!-- Card 2 -->
  
          <!-- Card 3 -->
          <div class="col-md-2">
            <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
              <!--Card image-->
              <div class="view zoom waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
                  onclick="">
                </mdb-card-img>
              </div>
              <!--Card image-->
            </mdb-card>
            <div class="card-details">
              <a>shdcusdvb</a>
              <p>wdfh uic uay yuqd quayc</p>
            </div>
          </div>
          <!-- Card 3 -->
  
          <!-- Card 4 -->
          <div class="col-md-2">
            <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
              <!--Card image-->
              <div class="view zoom waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
                  onclick="">
                </mdb-card-img>
              </div>
              <!--Card image-->
            </mdb-card>
            <div class="card-details">
              <a>shdcusdvb</a>
              <p>wdfh uic uay yuqd quayc</p>
            </div>
          </div>
          <!-- Card 4 -->
  
          <!-- Card 5 -->
          <div class="col-md-2">
            <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
              <!--Card image-->
              <div class="view zoom waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
                  onclick="">
                </mdb-card-img>
              </div>
              <!--Card image-->
            </mdb-card>
            <div class="card-details">
              <a>shdcusdvb</a>
              <p>wdfh uic uay yuqd quayc</p>
            </div>
          </div>
          <!-- Card 5 -->
  
          <!-- Card 6 -->
          <div class="col-md-2">
            <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
              <!--Card image-->
              <div class="view zoom waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
                  onclick="">
                </mdb-card-img>
              </div>
              <!--Card image-->
            </mdb-card>
            <div class="card-details">
              <a>shdcusdvb</a>
              <p>wdfh uic uay yuqd quayc</p>
            </div>
          </div>
          <!-- Card 6 -->
  
        </div>
  
        <!-- </div> -->
  
        <hr>
        
    </mat-tab>
    <!-- Trousers -->

    <!-- Designer-wear -->
    <mat-tab>
      <ng-template mat-tab-label>Designer-Wear</ng-template>

      <div class="row custom-cards mx-auto">

          <!-- Card 1 -->
          <div class="col-md-2">
            <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
              <!--Card image-->
              <div class="view zoom waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
                  onclick="">
                </mdb-card-img>
              </div>
              <!--Card image-->
            </mdb-card>
            <div class="card-details">
              <a>shdcusdvb</a>
              <p>wdfh uic uay yuqd quayc</p>
            </div>
          </div>
          <!-- Card 1 -->
  
          <!-- Card 2 -->
          <div class="col-md-2">
            <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
              <!--Card image-->
              <div class="view zoom waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
                  onclick="">
                </mdb-card-img>
              </div>
              <!--Card image-->
            </mdb-card>
            <div class="card-details">
              <a>shdcusdvb</a>
              <p>wdfh uic uay yuqd quayc</p>
            </div>
          </div>
          <!-- Card 2 -->
  
          <!-- Card 3 -->
          <div class="col-md-2">
            <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
              <!--Card image-->
              <div class="view zoom waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
                  onclick="">
                </mdb-card-img>
              </div>
              <!--Card image-->
            </mdb-card>
            <div class="card-details">
              <a>shdcusdvb</a>
              <p>wdfh uic uay yuqd quayc</p>
            </div>
          </div>
          <!-- Card 3 -->
  
          <!-- Card 4 -->
          <div class="col-md-2">
            <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
              <!--Card image-->
              <div class="view zoom waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
                  onclick="">
                </mdb-card-img>
              </div>
              <!--Card image-->
            </mdb-card>
            <div class="card-details">
              <a>shdcusdvb</a>
              <p>wdfh uic uay yuqd quayc</p>
            </div>
          </div>
          <!-- Card 4 -->
  
          <!-- Card 5 -->
          <div class="col-md-2">
            <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
              <!--Card image-->
              <div class="view zoom waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
                  onclick="">
                </mdb-card-img>
              </div>
              <!--Card image-->
            </mdb-card>
            <div class="card-details">
              <a>shdcusdvb</a>
              <p>wdfh uic uay yuqd quayc</p>
            </div>
          </div>
          <!-- Card 5 -->
  
          <!-- Card 6 -->
          <div class="col-md-2">
            <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
              <!--Card image-->
              <div class="view zoom waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
                  onclick="">
                </mdb-card-img>
              </div>
              <!--Card image-->
            </mdb-card>
            <div class="card-details">
              <a>shdcusdvb</a>
              <p>wdfh uic uay yuqd quayc</p>
            </div>
          </div>
          <!-- Card 6 -->
  
        </div>
  
        <!-- </div> -->
  
        <hr>
        
    </mat-tab>
    <!-- Designer-wear -->

    <!-- Party-wear -->
    <mat-tab>
      <ng-template mat-tab-label>Party-Wear</ng-template>

      <div class="row custom-cards mx-auto">

          <!-- Card 1 -->
          <div class="col-md-2">
            <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
              <!--Card image-->
              <div class="view zoom waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
                  onclick="">
                </mdb-card-img>
              </div>
              <!--Card image-->
            </mdb-card>
            <div class="card-details">
              <a>shdcusdvb</a>
              <p>wdfh uic uay yuqd quayc</p>
            </div>
          </div>
          <!-- Card 1 -->
  
          <!-- Card 2 -->
          <div class="col-md-2">
            <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
              <!--Card image-->
              <div class="view zoom waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
                  onclick="">
                </mdb-card-img>
              </div>
              <!--Card image-->
            </mdb-card>
            <div class="card-details">
              <a>shdcusdvb</a>
              <p>wdfh uic uay yuqd quayc</p>
            </div>
          </div>
          <!-- Card 2 -->
  
          <!-- Card 3 -->
          <div class="col-md-2">
            <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
              <!--Card image-->
              <div class="view zoom waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
                  onclick="">
                </mdb-card-img>
              </div>
              <!--Card image-->
            </mdb-card>
            <div class="card-details">
              <a>shdcusdvb</a>
              <p>wdfh uic uay yuqd quayc</p>
            </div>
          </div>
          <!-- Card 3 -->
  
          <!-- Card 4 -->
          <div class="col-md-2">
            <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
              <!--Card image-->
              <div class="view zoom waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
                  onclick="">
                </mdb-card-img>
              </div>
              <!--Card image-->
            </mdb-card>
            <div class="card-details">
              <a>shdcusdvb</a>
              <p>wdfh uic uay yuqd quayc</p>
            </div>
          </div>
          <!-- Card 4 -->
  
          <!-- Card 5 -->
          <div class="col-md-2">
            <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
              <!--Card image-->
              <div class="view zoom waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
                  onclick="">
                </mdb-card-img>
              </div>
              <!--Card image-->
            </mdb-card>
            <div class="card-details">
              <a>shdcusdvb</a>
              <p>wdfh uic uay yuqd quayc</p>
            </div>
          </div>
          <!-- Card 5 -->
  
          <!-- Card 6 -->
          <div class="col-md-2">
            <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
              <!--Card image-->
              <div class="view zoom waves-light" mdbWavesEffect>
                <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
                  onclick="">
                </mdb-card-img>
              </div>
              <!--Card image-->
            </mdb-card>
            <div class="card-details">
              <a>shdcusdvb</a>
              <p>wdfh uic uay yuqd quayc</p>
            </div>
          </div>
          <!-- Card 6 -->
  
        </div>
  
        <!-- </div> -->
  
        <hr>
        
    </mat-tab>
    <!-- Party-wear -->

  </mat-tab-group>
  <!-- Tabs -->

</div>

<app-subscribe></app-subscribe>