<div class="container body-content">
  <div class="row">

    <!-- Image -->
    <div class="col-md-6">
      <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt="" class="product-image">
    </div>
    <!-- Image -->

    <!-- Product-Details -->
    <div class="col-md-6">

      <div class="title">
        <h2>Item Name</h2>
      </div>

      <div class="item-id">Item ID</div>

      <div class="price">Item Price</div>

      <div class="row size">
        <div class="sizes-list">Size</div>
        <div class="size-btn-list">
          <button>UK 6</button>
          <button>UK 8</button>
          <button>UK 10</button>
          <button>UK 12</button>
          <button>UK 14</button>
          <button>UK 16</button>
        </div>
        <a class="size-guide ml-auto">Size Guide</a>
      </div>

      <div class="item-color">Color</div>

      <div class="row qty">
        <!-- <div class="item-qty">Qty</div> -->
        <div><input type="number" placeholder=" Select quantity" class="qty-input"></div>
        <div class="ml-auto">
          <div class="cart-btn">
            <button>
              <mdb-icon fas icon="cart-plus"></mdb-icon> Add to Cart
            </button>
          </div>
          <div class="wishlist-btn">
            <button>
              <mdb-icon far icon="heart"></mdb-icon> Add to Wishlist
            </button>
          </div>
        </div>
      </div>

      <div class="go-back">
        <a class="back">
          <mdb-icon fas icon="angle-left"></mdb-icon>Back
        </a>
      </div>
    </div>
    <!-- Product-Details -->

  </div>
</div>