.row {
  width: 100%;
  // padding: 0;
}

.container-fluid {
  padding: 0;
}

.mdb-carousel-custom {
  margin-top: 90px;
  margin-bottom: 30px;
}

.custom-cards {
  padding: 10px;
  margin: 10px;
}

.card-details {
  padding-top: 20px;
}

.sub-heading {
  font-size: 2em;
  font-weight: 500;
  margin: 50px 50px 30px 50px;
}

.card-link {
  font-weight: 400;
  color: black;
}

.card-link :visited {
  color: black;
}

a .card-link :hover {
  text-decoration: underline;
  text-decoration-color: black;
}

.body-content {
  width: 70%
}

.card-icon {
  padding: 10px 0 10px 20px;
  height: 50px;
  size: 30px; 
}
