<!-- Carousel -->
<div class="container-fluid">
  <div class="mdb-carousel-custom mx-auto">
    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
      <mdb-carousel-item>
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
      </mdb-carousel-item>
    </mdb-carousel>
  </div>
</div>
<!-- Carousel -->

<!-- Cards -->
<div class="container-fluid body-content">

  <!-- New Arrivals -->
  <div class="row">
    <a class="sub-heading" routerLink="/new-arrivals"><span class="sub-heading-content">New Arrivals</span></a>
  </div>

  <div class="row custom-cards mx-auto">

    <!-- Card 1 -->
    <div class="col-md-3">
      <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
        <!--Card image-->
        <div class="view zoom waves-light" mdbWavesEffect>
          <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt="" onclick="">
          </mdb-card-img>
        </div>
        <!--Card image-->
      </mdb-card>
      <div class="card-details">
        <div class="row card-icon-list">
          <a>
            <mdb-icon far icon="heart" class="card-icon"></mdb-icon>
          </a>
          <a>
            <!-- <mdb-icon fas icon="cart-plus" class="card-icon"></mdb-icon> -->
            <mat-icon class="card-icon">add_shopping_cart</mat-icon>
          </a>
        </div>
        <a>Item name</a>
      </div>
    </div>
    <!-- Card 1 -->

  </div>

  <a class="card-link" routerLink="/new-arrivals">View More +</a>
  <!-- New Arrivals -->

  <hr>

  <!-- Offers -->
  <div class="row">
    <a class="sub-heading" routerLink="/offers">Offers</a>
  </div>

  <div class="row custom-cards mx-auto">

    <!-- Card 1 -->
    <div class="col-md-3">
      <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
        <!--Card image-->
        <div class="view zoom waves-light" mdbWavesEffect>
          <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt="" onclick="">
          </mdb-card-img>
        </div>
        <!--Card image-->
      </mdb-card>
      <div class="card-details">
        <div class="row card-icon-list">
          <a>
            <mdb-icon far icon="heart" class="card-icon"></mdb-icon>
          </a>
          <a>
            <!-- <mdb-icon fas icon="cart-plus" class="card-icon"></mdb-icon> -->
            <mat-icon class="card-icon">add_shopping_cart</mat-icon>
          </a>
        </div>
        <a>Item name</a>
      </div>
    </div>
    <!-- Card 1 -->

  </div>

  <a class="card-link" routerLink="/offers">View More +</a>
  <!-- Offers -->

  <hr>

  <!-- Best Selling -->
  <div class="row">
    <a class="sub-heading" routerLink="/best-selling">Best Selling</a>
  </div>

  <div class="row custom-cards mx-auto">

    <!-- Card 1 -->
    <div class="col-md-3">
      <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
        <!--Card image-->
        <div class="view zoom waves-light" mdbWavesEffect>
          <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt="" onclick="">
          </mdb-card-img>
        </div>
        <!--Card image-->
      </mdb-card>
      <div class="card-details">
        <div class="row card-icon-list">
          <a>
            <mdb-icon far icon="heart" class="card-icon"></mdb-icon>
          </a>
          <a>
            <!-- <mdb-icon fas icon="cart-plus" class="card-icon"></mdb-icon> -->
            <mat-icon class="card-icon">add_shopping_cart</mat-icon>
          </a>
        </div>
        <a>Item name</a>
      </div>
    </div>
    <!-- Card 1 -->

  </div>

  <a class="card-link" routerLink="/best-selling">View More +</a>
  <!-- Best Selling -->

  <hr>
  <br>

  <br>

</div>
<!-- Cards -->

<app-subscribe></app-subscribe>