.row {
  width: 100%;
  // padding: 0;
}

.subscribe-btn {
  background-color: #303030;
  color: white;
  width: 150px;
  font-size: 17px;
  box-shadow: 0 3px 5px -1px;
  padding: 7px;
}

// .subscribe-btn:hover {
  // color: #e22367;
// }

.subscribe-heading {
  text-align: center;
  color: #303030;
}

h3 {
  font-weight: 400;
}

.input-group {
  width: 40%;
}