<div class="row mx-auto">

  <div class="subscribe-heading mx-auto">
    <h3>Subscribe!</h3>
    <p>Be the first to know about New Arrivals and Offers from Dione.</p>
  </div>

  <!--Grid column-->
  <div class="col-md-12 mb-4">

    <form class="input-group mx-auto">
      <input type="text" class="form-control form-control-lg" placeholder="Your email" aria-label="Your email"
        aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button mat-raised-button class="subscribe-btn mx-auto">SUBSCRIBE</button>
      </div>
    </form>

  </div>
  <!--Grid column-->

</div>