.body-content {
  margin-top: 150px;
  width: 80%;
  font-size: 20px;
}

.heading {
  text-align: center;
  padding-bottom: 0;
  font-size: 2em;
}

hr {
  padding-top: 0;
  padding-bottom: 50px;
  width: 100px;
}

.mat-tab-group {
  margin-bottom: 48px;
}

.custom-cards {
  margin-top: 60px;
  margin-bottom: 80px;
}

.sub-heading {
  font-size: 2em;
  font-weight: 500;
  margin: 50px 50px 30px 50px;
}

.card-details {
  padding-top: 20px;
}

/deep/ .mat-tab-group.mat-primary .mat-ink-bar {
  background-color: #e22367;
}

/deep/ .mat-tab-label:active {
  color: #303030;
  // font-weight: 700;
}