<div class="container-fluid body-content">

    <div class="heading">NEW ARRIVALS</div>

    <hr>

  <!-- Tabs -->
  <mat-tab-group mat-align-tabs="center" animationDuration="0ms">

    <!-- Women -->
    <!-- <mat-tab> -->
      <!-- <ng-template mat-tab-label>Women</ng-template> -->

      <!-- <div class="cards container-fluid"> -->

      <!-- <div class="row custom-cards mx-auto"> -->

        <!-- Card 1 -->
        <!-- <div class="col-md-2"> -->
          <!-- <mdb-card class="collection-card z-depth-1-half mdb-card-custom"> -->
            <!--Card image-->
            <!-- <div class="view zoom waves-light" mdbWavesEffect> -->
              <!-- <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt="" -->
                <!-- onclick=""> -->
              <!-- </mdb-card-img> -->
            <!-- </div> -->
            <!--Card image-->
          <!-- </mdb-card> -->
          <!-- <div class="card-details"> -->
            <!-- <a>shdcusdvb</a> -->
            <!-- <!-- <p>wdfh uic uay yuqd quayc</p> --> -->
          <!-- </div> -->
        <!-- </div> -->
        <!-- Card 1 -->

      <!-- </div> -->

      <!-- </div> -->

      <!-- <hr> -->

    <!-- </mat-tab> -->
    <!-- Women -->


    <!-- Men -->
    <!-- <mat-tab> -->
      <!-- <ng-template mat-tab-label>Men</ng-template> -->
<!--  -->
      <!-- <div class="row custom-cards mx-auto"> -->

        <!-- Card 1 -->
        <!-- <div class="col-md-2"> -->
          <!-- <mdb-card class="collection-card z-depth-1-half mdb-card-custom"> -->
            <!--Card image-->
            <!-- <div class="view zoom waves-light" mdbWavesEffect> -->
              <!-- <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt="" -->
                <!-- onclick=""> -->
              <!-- </mdb-card-img> -->
            <!-- </div> -->
            <!--Card image-->
          <!-- </mdb-card> -->
          <!-- <div class="card-details"> -->
            <!-- <a>shdcusdvb</a> -->
            <!-- <!-- <p>wdfh uic uay yuqd quayc</p> --> -->
          <!-- </div> -->
        <!-- </div> -->
        <!-- Card 1 -->

      <!-- </div> -->

      <!-- </div> -->

      <!-- <hr> -->

    <!-- </mat-tab> -->
    <!-- Men -->

    <!-- Kids -->
    <!-- <mat-tab> -->
      <!-- <ng-template mat-tab-label>Kids</ng-template> -->

      <!-- <div class="cards container-fluid"> -->

      <!-- <div class="row custom-cards mx-auto"> -->
<!--  -->
        <!-- Card 1 -->
        <!-- <div class="col-md-2"> -->
          <!-- <mdb-card class="collection-card z-depth-1-half mdb-card-custom"> -->
            <!--Card image-->
            <!-- <div class="view zoom waves-light" mdbWavesEffect> -->
              <!-- <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt="" -->
                <!-- onclick=""> -->
              <!-- </mdb-card-img> -->
            <!-- </div> -->
            <!--Card image-->
          <!-- </mdb-card> -->
          <!-- <div class="card-details"> -->
            <!-- <a>shdcusdvb</a> -->
            <!-- <p>wdfh uic uay yuqd quayc</p> -->
          <!-- </div> -->
        <!-- </div> -->
        <!-- Card 1 -->

      <!-- </div> -->

      <!-- </div> -->

      <!-- <hr> -->

    <!-- </mat-tab> -->
    <!-- Kids -->

    <!-- Homewear -->
    <mat-tab>
      <ng-template mat-tab-label>Homewear</ng-template>

      <!-- <div class="cards container-fluid"> -->

      <div class="row custom-cards mx-auto">

        <!-- Card 1 -->
        <div class="col-md-2">
          <mdb-card class="collection-card z-depth-1-half mdb-card-custom">
            <!--Card image-->
            <div class="view zoom waves-light" mdbWavesEffect>
              <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" alt=""
                onclick="">
              </mdb-card-img>
            </div>
            <!--Card image-->
          </mdb-card>
          <div class="card-details">
            <a>shdcusdvb</a>
            <p>wdfh uic uay yuqd quayc</p>
          </div>
        </div>
        <!-- Card 1 -->

      </div>

      <!-- </div> -->

      <hr>

    </mat-tab>
    <!-- Homewear -->

  </mat-tab-group>
  <!-- Tabs -->

</div>

<app-subscribe></app-subscribe>