<div class="container-fluid body-content">
  <div class="row">

    <!-- Register -->
    <div class="col-md-6">

      <!-- Material form register -->
      <div class="register-form">

        <div class="title">NEW MEMBER?</div>

        <div class="row">

          <div class="col-md-6">
            <div class="social-signin">
              <button>
                <mdb-icon fab icon="facebook-f"></mdb-icon> SIGN-IN
              </button>
            </div>
          </div>

          <div class="col-md-6">
            <div class="social-signin mx-auto">
              <button>
                <mdb-icon fab icon="google"></mdb-icon> SIGN-IN
              </button>
            </div>
          </div>

        </div>

        <div class="divider">OR</div>

        <div class="example-container">

          <mat-form-field class="reg-form-field">
            <input matInput placeholder="Your name" required>
          </mat-form-field>

          <mat-form-field class="reg-form-field">
            <input matInput placeholder="Email" FormControl="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>

          <mat-form-field class="reg-form-field">
            <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>

          <mat-form-field class="reg-form-field">
            <input matInput placeholder="Phone number" type="text" class="example-right-align" required>
            <span matPrefix>+94&nbsp;</span>
            <span matSuffix>
              <mdb-icon fas icon="phone"></mdb-icon>
            </span>
          </mat-form-field>

          <mat-checkbox class="checkbox">Subscribe for our newsletters</mat-checkbox>

          <div class="reg-btn mx-auto">
            <button>Register</button>
          </div>

          <div class="bottom-text">
            By clicking Sign up you agree to our <a><b>terms of service</b></a>.
          </div>

        </div>

      </div>
      <!-- Material form register -->
    </div>
    <!-- Register -->

    <!-- Login -->
    <div class="col-md-6">
      <!-- Material form register -->
      <div class="register-form">

        <div class="title">ALREADY HAVE AN ACCOUNT</div>

        <div class="row">

          <div class="col-md-6">
            <div class="social-signin">
              <button>
                <mdb-icon fab icon="facebook-f"></mdb-icon> SIGN-IN
              </button>
            </div>
          </div>

          <div class="col-md-6">
            <div class="social-signin mx-auto">
              <button>
                <mdb-icon fab icon="google"></mdb-icon> SIGN-IN
              </button>
            </div>
          </div>

        </div>

        <div class="divider">OR</div>

        <div class="example-container">

          <mat-form-field class="login-form-field">
            <input matInput placeholder="Email" FormControl="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>

          <mat-form-field class="login-form-field">
            <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>

          <div class="password-help">
            <a>Forgot Password?</a>
          </div>

          <div class="login-btn mx-auto">
            <button>Login</button>
          </div>

        </div>

      </div>
      <!-- Material form register -->
    </div>
    <!-- Login -->

  </div>
  <!-- Row -->
  <hr>
</div>
<!-- Body-Content -->