.body-content {
  width: 70%;
  margin-top: 150px;
  margin-bottom: 80px;
  text-align: center;
}

.register-form, .login-form {
  padding: 50px;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.reg-form-field {
  padding: 10px;
  margin: 10px;
}

.title {
  font-size: 2em;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.checkbox {
  margin: 20px;
}

.reg-btn, .login-btn {
  margin: 20px;
  text-align: center;
}

.reg-btn button, .login-btn button {
  color: white;
  background-color: darkblue;
  // border-color: darkblue;
  border: none;
  width: 400px;
  font-size: 20px;
  border-radius: 8px;
  // box-shadow: 0 3px 5px -1px;
}

.bottom-text {
  font-size: 17px;
  text-align: center;
}

.social-signin {
  margin: 20px;
}

.social-signin button {
  width: 200px;
  height: 50px;
  background-color: white;
  border-radius: 8px;
  border-color: darkblue;
  font-size: 20px;
}

.social-signin button mdb-icon {
  padding-right: 10px;
}

.divider {
  margin: 10px;
  font-size: 20px;
}

.password-help {
  text-align: right;
  margin-bottom: 30px;
}

.login-form-field {
  padding: 20px 10px 0 10px;
  margin: 20px 10px 0 10px;
}